apiVersion: apps/v1
kind: Deployment
metadata:
  name: spritz-operator
  namespace: {{ .Values.operator.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: spritz-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/name: spritz-operator
      {{- if .Values.operator.rolloutAt }}
      annotations:
        spritz.sh/rollout-at: {{ .Values.operator.rolloutAt | quote }}
      {{- end }}
    spec:
      serviceAccountName: {{ .Values.operator.serviceAccountName }}
      containers:
        - name: manager
          image: {{ .Values.operator.image }}
          imagePullPolicy: {{ .Values.operator.imagePullPolicy | default "IfNotPresent" }}
          {{- if .Values.operator.securityContext }}
          securityContext:
            {{- toYaml .Values.operator.securityContext | nindent 12 }}
          {{- end }}
          {{- if .Values.operator.resources }}
          resources:
            {{- toYaml .Values.operator.resources | nindent 12 }}
          {{- end }}
          env:
            {{- if .Values.operator.ttlGracePeriod }}
            - name: SPRITZ_TTL_GRACE_PERIOD
              value: {{ .Values.operator.ttlGracePeriod | quote }}
            {{- end }}
            {{- if .Values.operator.workspaceSizeLimit }}
            - name: SPRITZ_WORKSPACE_SIZE_LIMIT
              value: {{ .Values.operator.workspaceSizeLimit | quote }}
            {{- end }}
            {{- if .Values.operator.homeSizeLimit }}
            - name: SPRITZ_HOME_SIZE_LIMIT
              value: {{ .Values.operator.homeSizeLimit | quote }}
            {{- end }}
            {{- if and .Values.operator.homePVC .Values.operator.homePVC.enabled }}
            - name: SPRITZ_HOME_PVC_PREFIX
              value: {{ .Values.operator.homePVC.prefix | quote }}
            - name: SPRITZ_HOME_PVC_SIZE
              value: {{ .Values.operator.homePVC.size | quote }}
            - name: SPRITZ_HOME_PVC_ACCESS_MODES
              value: {{ join "," .Values.operator.homePVC.accessModes | quote }}
            {{- if .Values.operator.homePVC.storageClass }}
            - name: SPRITZ_HOME_PVC_STORAGE_CLASS
              value: {{ .Values.operator.homePVC.storageClass | quote }}
            {{- end }}
            {{- if .Values.operator.homePVC.mountPaths }}
            - name: SPRITZ_HOME_MOUNT_PATHS
              value: {{ join "," .Values.operator.homePVC.mountPaths | quote }}
            {{- end }}
            {{- end }}
            {{- if and .Values.operator.sharedConfigPVC .Values.operator.sharedConfigPVC.enabled }}
            - name: SPRITZ_SHARED_CONFIG_PVC_PREFIX
              value: {{ .Values.operator.sharedConfigPVC.prefix | quote }}
            - name: SPRITZ_SHARED_CONFIG_PVC_SIZE
              value: {{ .Values.operator.sharedConfigPVC.size | quote }}
            - name: SPRITZ_SHARED_CONFIG_PVC_ACCESS_MODES
              value: {{ join "," .Values.operator.sharedConfigPVC.accessModes | quote }}
            {{- if .Values.operator.sharedConfigPVC.storageClass }}
            - name: SPRITZ_SHARED_CONFIG_PVC_STORAGE_CLASS
              value: {{ .Values.operator.sharedConfigPVC.storageClass | quote }}
            {{- end }}
            {{- if .Values.operator.sharedConfigPVC.mountPath }}
            - name: SPRITZ_SHARED_CONFIG_MOUNT_PATH
              value: {{ .Values.operator.sharedConfigPVC.mountPath | quote }}
            {{- end }}
            {{- end }}
            {{- if and .Values.operator.sharedMounts .Values.operator.sharedMounts.enabled }}
            - name: SPRITZ_SHARED_MOUNTS
              value: {{ toJson .Values.operator.sharedMounts.mounts | quote }}
            - name: SPRITZ_SHARED_MOUNTS_API_URL
              value: {{ .Values.operator.sharedMounts.apiUrl | quote }}
            - name: SPRITZ_SHARED_MOUNTS_TOKEN_SECRET_NAME
              value: {{ .Values.operator.sharedMounts.tokenSecret.name | quote }}
            - name: SPRITZ_SHARED_MOUNTS_TOKEN_SECRET_KEY
              value: {{ .Values.operator.sharedMounts.tokenSecret.key | quote }}
            - name: SPRITZ_SHARED_MOUNTS_SYNCER_IMAGE
              value: {{ default .Values.api.image .Values.operator.sharedMounts.syncerImage | quote }}
            - name: SPRITZ_SHARED_MOUNTS_SYNCER_IMAGE_PULL_POLICY
              value: {{ default .Values.api.imagePullPolicy .Values.operator.sharedMounts.syncerImagePullPolicy | quote }}
            {{- end }}
            {{- if .Values.operator.podNodeSelector }}
            - name: SPRITZ_POD_NODE_SELECTOR
              value: {{ .Values.operator.podNodeSelector | quote }}
            {{- end }}
